<!DOCTYPE html>
<html>
<head>
  <title>PANPIN | HOME</title>
  <link href="{{ url_for('static',filename='img/7.ico') }}" rel='shortcut icon'>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='2.css') }}">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home') }}">Panpin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('kontak') }}">Contact</a>
        </li>
          <ul class="navbar-nav mr-3">
               {% if session['nama'] %}
                   <li class="nav-item active float-right">
                       <a class="nav-link text-light" href="{{ url_for('logout') }}">Logout</a>
                   </li>
               {% else %}
                   <li class="nav-item active float-right">
                       <a class="nav-link text-light" href="{{ url_for('login') }}">Login</a>
                   </li>
                   </li>
               {% endif %}
          </ul>
        </div>
      </ul>
    </div>

  </div>
</nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://images.wallpaperscraft.com/image/laptop_macbook_iphone_apple_journal_glasses_113949_1920x1080.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Quality</h3>
          <p class="lead">Sebagai layanan simpan-pinjam, kami terkenal dengan performa kami yang baik, layanan yang cepat tanggap, dan selalu memberi solusi bagi masalah finansial para mahasiswa, dan kami bangga akan hal ini!</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.wallpaperscraft.com/image/macbook_pro_apple_laptop_headphones_table_98893_1920x1080.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Always On</h3>
          <p class="lead">Kami selalu berusaha untuk selalu ada untuk membantu pelanggan kami, maka dari itu layanan kami selalu aktif 7 x 24 jam, sehingga kami siap kapanpun anda butuhkan</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.wallpaperscraft.com/image/macbook_apple_computer_laptop_computer_mouse_93239_1920x1080.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Up to date</h3>
          <p class="lead">Kami selalu memperbaharui layanan kami sehingga selalu Up to Date dengan perkembangan jaman serta sesuai dengan para pelanggan kami.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Solusi Cerdas bagi Para Pejuang Masa Depan</h1>
    <p class="lead">Kami selalu ingin membantu negara ini mencetak para intelektual sebagai kontribusi terhadap negara, tetapi terkadang hanya karena masalah sepele, banyak para kandidat intelektual yang gugur sebelum membuktikan dirinya, maka dari itu, kami hadir untuk meminimalisir masalah-masalah yang ada! Salah satunya masalah keuangan. Kami juga memiliki banyak keunggulan sebagai layanan simpan-pinjam, dan kami bangga akan hal itu.</p>
  </div>
</section>
<div>
</div>
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>